/* Import */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap");

/* Default Style */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-size: 18px;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  margin: 50px;
}

.container {
  display: grid;
  gap: 10px;
}

img {
  width: 100%;
}

.header {
  display: grid;
  grid-template-areas:
    "hero hero hero feature-1 feature-1"
    "hero hero hero feature-2 feature-2";
  grid-template-columns: repeat(5, 1fr);
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url("../assets/img/gambar_perkenalan_website.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
}

.hero > * {
  display: block;
  color: #fff;
}

.features {
  color: #fff;
  display: grid;
  place-content: center center;
  text-align: center;
  cursor: pointer;
}

.features.feature-1 {
  grid-area: feature-1;
  background-image: url("../assets/img/gambar-slide-2.jpg");
  background-size: cover;
}

.features.feature-2 {
  grid-area: feature-2;
  background-image: url("../assets/img/gambar-slide-3.jpg");
  background-size: cover;
  background-position: center;
}

.features .price {
  font-size: 1.7em;
}

.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.2em;
  color: #333;
}

.menu ul.menu-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}

ul.menu-list li a {
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}

ul.menu-list li a:hover {
  background-color: #fff;
  color: #000;
}

/* Humberger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: all 455ms;
  transform: scale(1);
}

/* Humberger menu animation */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  /* transforms origin digunakan untuk menentukan poros.
	transform-origin: sumbu(x) sumbu(y);*/
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(0px, 1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-3px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive Breakpoints */
@media screen and (max-width: 1024px) {
  .hero {
    padding: 30px;
  }

  .hero > * {
    max-width: 70%;
    display: block;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }

  .menu ul.menu-list {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 800ms;
    opacity: 0;
  }

  .menu ul.slide {
    transform: translateX(0);
    opacity: 1;
  }

  /* Hamburger menu */
  .menu-toggle {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
    grid-template-columns: 1fr;
  }

  .features.feature-1 {
    background-position: 50% 10%;
  }

  .features.feature-2 {
    background-position: 50% 30%;
  }

  .features .price {
    margin-top: 10%;
  }

  .features .item {
    margin-bottom: 10%;
  }
}
